<!DOCTYPE html>
<html>

<head>
    <title>CHURCH-APP</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <div class="flex-container">
        <div class="welcome">
            <h1>Welcome to our church</h3>
            <img src="../static/images/logo.jpg" alt="logo" class="responsive" width=200px height=200px>
            <fieldset class = "logonotes">Welcome to the digital church application. <br>
            A place where the church management is transformed<br>
             from paper to digital. <br>enjoy your experience withus
             <H4>MOUNT OLIVSES SDA CHURCH</H4>
            </fieldset>
        </div>  -->
        <div class="main">
            <h1>The Digital App</h1>
                <img src="../static/images/pray.jpg" alt="logo"  width=200px height=200px>

             <h1>what this app does</h1>
                          
            <fieldset class = "desc">
                    
                this app aims at automating all the <br>church functions.
                 There by reducing labour<br> and error costs.<br>at the click of a button

        </div>
        <div class = "col3">
            <h1>Get started</h1>
            
            <a href ="{{ url_for('signup_url') }}"><img src="../static/images/login.jpg" alt="logo" width=200px height=200px></a>

            <!-- <a href = register.html><img src="../static/images/login.jpg" alt="logo" width=200px height=200px></a> -->
            <!-- <p>click the login icon above <br>to signup or login</p> -->
        <!-- </div>

    </div>
</body> -->

<!-- </html> --> -->
