<!DOCTYPE html>
<html>

<head>
    <title>CHURCH-APP</title>
    <link rel="stylesheet" href="../static/css/st.css">
</head>

<body>
    <div class="flex-containerss">
        <img src="../static/images/logo.jpg" width="100" height="100">
        <h1>My Smart Church Application</h1>
        <a href ="{{ url_for('index') }}"><h1>home</h1></a>
    </div>
<div >
    {% for member in members %}
    <img src="../static/images/{{member.username}}.jpeg"/> <br>
    <p class = "content" onclick = "Search()">{{member.password}}</p>
  {% endfor %}   

</div>
<div class = "research"></div>

<script>
function Search(){
    // Replace ./data.json with your JSON feed
fetch('http://127.0.0.1:5000/fetch_user').then(response => {
  return response.json();
}).then(data => {
  // Work with JSON data here
  console.log(data);
}).catch(err => {
  // Do something for an error here
});
}
</script>